TelerikLogicBuilder/Samples/ApplicationProperties.xsd

<?xml version="1.0" encoding="utf-8" ?> 
<xsd:schema id="ApplicationProperties" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ApplicationProperties">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="data" minOccurs="1" maxOccurs="unbounded" type="dataType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="dataType">
    <xsd:sequence>
      <xsd:element name="value" type="xsd:string" minOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required" />
  </xsd:complexType>
</xsd:schema>
